main{
    width: 35%;
    font-family: 'Raleway', sans-serif;
    position: absolute;
    right: 30%;
    left: 30%;
}

.container-img {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    
}
.container-img img{
    border-radius: 15px;
    width: 100%;
}




.discount,.name{
    background-color: rgb(226,33,16);
    color:white;
    font-weight: bold;
    
}
.name{
    padding: 10px 55px;
    border-radius: 10px;
    position: absolute;
    bottom: 160px;
    margin-bottom: 10px;
}
.discount{
    padding: 3px 10px;
    position: absolute;
    top:30px;
    right: 0px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    gap:5px;
}
.settings-icon{
    width: 5px;
    
}

.container-description-p{
    padding: 15px 50px;
    /* border: 1px solid black; */
}

.container-discount{
    display:flex;
    /* border:1px solid black; */
    align-items: center;
    justify-content: center;
    gap:10px;
    padding-bottom: 10px;
    
    
}

.p-discount-1,.p-discount-2{
    padding: 10px 5px !important;
}
.p-discount-1{
    font-size: 14px;
    color:rgb(226,33,16);
}

.p-discount-2{
    border-left:1px solid rgb(226,33,16);
    font-weight: bolder;
}
.p-discount-1 span{
    text-decoration:line-through ;
}
.container-discount button{
    background-color: rgb(226,33,16);
    color:white;
    border:none;
    border-radius: 10px;
    padding: 10px 35px;
    font-size: 20px;
}

/* Este es el estilo del bloque que aparece y desaparece */
.hidden{
    position:absolute;
    border:1px solid rgb(226,33,16);
    height: 400px;
    /* Para que se centre el texto */
    display:flex;
    align-items: center;
    background-color: rgba(226,33,16,0.7);
    border-radius: 15px;
    opacity: 0;
    transition:all 0.2s ease-out;
}




.p-hidden{
    
    padding: 5px 100px;
    color:white;
    font-weight: bolder;
    font-size: 20px;
   
}

/* Propiedad hover para afectar al mismo elemento */
.hidden:hover{
    opacity: 1;
    height: 475px;
}
/* Propiedad hover para afectar a otros elementos */
.hidden:hover ~ .container-description-p{
    display:none !important;
}
.hidden:hover ~ .name{
    bottom: 70px;;
}


/* Ahora vamos con el responsive */
@media (max-width:1150px){
    .container-description-p{
        padding: 5px 0px;
    }
    .name{
        padding: 10px 35px;
        
        bottom: 160px;
    }
}
@media (max-width:900px){
    main{
        width: 60%;
        right: 20%;
        left: 20%;
     
    }
    .name{
        padding: 10px 55px;
        bottom: 140px;
    }
}
@media (max-width:790px){
  
    .hidden:hover{
        opacity: 1;
        height: 450px;
    }
}
@media (max-width:700px){
    main{
        width: 80%;
        right: 10%;
        left: 10%;
     
    }
    /* .hidden:hover{
        opacity: 1;
        height: 300px;
    } */
}
@media (max-width:520px){
    .name{
        padding: 10px 35px;
        font-size: 14px;
    }
    .hidden:hover{
        height: 350px;
    }
    .p-hidden{
    
        padding: 5px 50px;
        font-size: 18px;
       
    }
}
@media (max-width:450px){
    main{
        width: 90%;
        right: 5%;
        left: 5%;
     
    }
    .name{
        padding: 5px 30px;
        font-size: 12px;
        bottom: 160px;
    }
    .hidden:hover{
        height: 320px;
    }
}

@media (max-width:335px){
    .name{
        padding: 5px 20px;
        font-size: 10px;
        bottom: 180px;
    }
}